<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Bingo is the Name-O!</title>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../../public/css/style.css" />
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>

</head>

<body>
  <div class="flex justify-center font-sans text-5xl font-extrabold text-white  ">
    <header class="sec p-8 fixed" id="bingoCont">B4</header>
  </div>
  <div class="grid gap-4 grid-cols-1 lg:grid-cols-2">
    <div>
    </div>
    <div class="bg-fuchsia-500 h-rounded-md place-self-end text-white text-5xl font-extrabold fourth lg:place-self-center">
      <h2>Timer</h2>
      <div id="timer text-white text-2xl font-extrabold fourth">00:00</div>
    </div>
    <div
      class="bg-fuchsia-500 h-12 rounded-md flex items-center justify-center text-white text-2xl font-extrabold fourth">
      3</div>
    <div
      class="bg-fuchsia-500 h-12 rounded-md flex items-center justify-center text-white text-2xl font-extrabold fourth">
      4</div>
    <div
      class="bg-fuchsia-500 place-self-center  rounded-md items-center justify-center text-white text-2xl font-extrabold">
      <div class="clear"></div>
      <div class="card">
        <div class="headers">
          <div><span>B</span></div>
          <div><span>I</span></div>
          <div><span>N</span></div>
          <div><span>G</span></div>
          <div><span>O</span></div>
        </div>
        <div class="column 1">
        </div>
        <div class="column 2">
        </div>
        <div class="column 3">
        </div>
        <div class="column 4">
        </div>
        <div class="column 5">
        </div>
      </div>
      <div class="temp"></div>
    </div>
    <div
      class="bg-fuchsia-500 place-self-center  rounded-md items-center justify-center text-white text-2xl font-extrabold">
      <div class="clear"></div>
      <div class="card">
        <div class="headers">
          <div><span>B</span></div>
          <div><span>I</span></div>
          <div><span>N</span></div>
          <div><span>G</span></div>
          <div><span>O</span></div>
        </div>
        <div class="column 1">
        </div>
        <div class="column 2">
        </div>
        <div class="column 3">
        </div>
        <div class="column 4">
        </div>
        <div class="column 5">
        </div>
      </div>
      <div class="temp"></div>
    </div>
    <div
      class="bg-fuchsia-500 h-12 rounded-md flex items-center justify-center text-white text-2xl font-extrabold fourth">
      7</div>
    <div
      class="bg-fuchsia-500 h-12 rounded-md flex items-center justify-center text-white text-2xl font-extrabold fourth">
      8</div>
    <div
      class="bg-fuchsia-500 h-12 rounded-md flex items-center justify-center text-white text-2xl font-extrabold fourth">
      9</div>
    <div
      class="bg-fuchsia-500 h-12 rounded-md flex items-center justify-center text-white text-2xl font-extrabold fourth">
      10</div>
    <div
      class="bg-fuchsia-500 place-self-center  rounded-md items-center justify-center text-white text-2xl font-extrabold">
      <div class="clear"></div>
      <div class="card">
        <div class="headers">
          <div><span>B</span></div>
          <div><span>I</span></div>
          <div><span>N</span></div>
          <div><span>G</span></div>
          <div><span>O</span></div>
        </div>
        <div class="column 1">
        </div>
        <div class="column 2">
        </div>
        <div class="column 3">
        </div>
        <div class="column 4">
        </div>
        <div class="column 5">
        </div>
      </div>
      <div class="temp"></div>
    </div>
    <div
      class="bg-fuchsia-500 place-self-center  rounded-md items-center justify-center text-white text-2xl font-extrabold">
      <div class="clear"></div>
      <div class="card">
        <div class="headers">
          <div><span>B</span></div>
          <div><span>I</span></div>
          <div><span>N</span></div>
          <div><span>G</span></div>
          <div><span>O</span></div>
        </div>
        <div class="column 1">
        </div>
        <div class="column 2">
        </div>
        <div class="column 3">
        </div>
        <div class="column 4">
        </div>
        <div class="column 5">
        </div>
      </div>
      <div class="temp"></div>
    </div>
    <div
      class="bg-fuchsia-500 h-12 rounded-md flex items-center justify-center text-white text-2xl font-extrabold fourth">
      13</div>
    <div
      class="bg-fuchsia-500 h-12 rounded-md flex items-center justify-center text-white text-2xl font-extrabold fourth">
      12</div>
    <div
      class="bg-fuchsia-500 h-12 rounded-md flex items-center justify-center text-white text-2xl font-extrabold fourth">
      13</div>
    <div
      class="bg-fuchsia-500 h-12 rounded-md flex items-center justify-center text-white text-2xl font-extrabold fourth">
      14</div>
    <div
      class="bg-fuchsia-500 h-12 rounded-md flex items-center justify-center text-white text-2xl font-extrabold fourth">
      15</div>
    <div
      class="bg-fuchsia-500 h-12 rounded-md flex items-center justify-center text-white text-2xl font-extrabold fourth">
      16</div>
    <div
      class="bg-fuchsia-500 h-12 rounded-md flex items-center justify-center text-white text-2xl font-extrabold fourth">
      17</div>
    <div
      class="bg-fuchsia-500 h-12 rounded-md flex items-center justify-center text-white text-2xl font-extrabold fourth">
      18</div>
    <div
      class="bg-fuchsia-500 h-12 rounded-md flex items-center justify-center text-white text-2xl font-extrabold fourth">
      19</div>
    <div
      class="bg-fuchsia-500 h-12 rounded-md flex items-center justify-center text-white text-2xl font-extrabold fourth">
      21</div>
    <div
      class="bg-fuchsia-500 h-12 rounded-md flex items-center justify-center text-white text-2xl font-extrabold fourth">
      21</div>
    <div
      class="bg-fuchsia-500 h-12 rounded-md flex items-center justify-center text-white text-2xl font-extrabold fourth">
      22</div>

  </div>
  <button class="w-64 third text-white">B I N G O !</button>
  </div>
  <!-- js link -->
  <script src="../../public/js/generateCard.js"></script>

</body>

</html>

<!-- <div class="play">
<button>Generate New Card</button>
<div class="clear"></div>
<div class="card">
  <div class="headers">
    <div><span>B</span></div>
    <div><span>I</span></div>
    <div><span>N</span></div>
    <div><span>G</span></div>
    <div><span>O</span></div>
  </div>
  <div class="column 1">
  </div>
  <div class="column 2">
  </div>
  <div class="column 3">
  </div>
  <div class="column 4">
  </div>
  <div class="column 5">
  </div>
</div>
<div class="temp"></div>
 -->