<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Bingo is the Name-O!</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  
    <link rel="stylesheet" href="../../public/css/style.css"/>

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

</head>
<body>

<div class="play">
<button>Generate New Card</button>
<div class="clear"></div>
<div class="card">
  <div class="headers">
    <div><span>B</span></div>
    <div><span>I</span></div>
    <div><span>N</span></div>
    <div><span>G</span></div>
    <div><span>O</span></div>
  </div>
  <div class="column 1">
  </div>
  <div class="column 2">
  </div>
  <div class="column 3">
  </div>
  <div class="column 4">
  </div>
  <div class="column 5">
  </div>
</div>
<div class="temp"></div>


<button class="bingo">B I N G O !</button>
</div>
<!-- js link -->
<script src="../../public/js/generateCard.js"></script>

</body>
</html>