<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Bingo is the Name-O!</title>
  <link rel="stylesheet" href="../public/css/style.css" />
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>

</head>

<body style="background-color: var(--main)">
  <div class="flex justify-center font-sans text-5xl font-extrabold text-white ">
    <header class="sec p-8 fixed" id="bingoCont">B4</header>
  </div>
  <div class="bg-fuchsia-500 rounded-md place-self-end text-white text-5xl font-extrabold fourth lg:place-self-center">
      <h2>Timer</h2>
      <div id="timer text-white text-2xl font-extrabold fourth">00:00</div>
    </div>
 <div class="grid gap-4 grid-cols-1 lg:grid-cols-2">
      {{{body}}}
  </div>
     <script src="../public/js/generateCard-old.js"></script>

</body>

</html>