<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bingo is the Name-O!</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  
    <link rel="stylesheet" href="css/style.css"/>
  </head>

  <body>
    <header>Bingo is the Name-O!</header>
    <div>
      <form class='signup'>
        <label for="newUsername">UserName</label><br>
        <input type='text' id="newUsername" name='newUsername'><br>
        <label for="Crpswd">Create Password</label><br>
        <input type="password" id="Crpswd" name="Crpswd"><br>
        <label for="repswd">ReType Password</label><br>
        <input type="password" id="repswd" name="repswd"><br>
      </form>
      <form>
        <label for="username">UserName</label><br>
        <input type='text' id="usernmae" name='username'><br>
        <label for="pswd">Password</label><br> 
        <input type="password" id="pswd" name="pswd"><br>
      </form>
    </div>
  </body>

</html>