<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bingo is the Name-O!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body style="background-color: var(--main)">
    {{{body}}}

    <ul id="messages">
      <i
        id="closeBtn"
        class="fa fa-times fixed-right mt-3 mr-3 text-white"
        aria-hidden="true"
      ></i>
    </ul>
    <form id="form" action="">
      <i id="showComments" class="fa fa-commenting pl-2 pr-2" aria-hidden="true"></i>
      <input id="input" autocomplete="off" /><button><i class="fa fa-paper-plane pl-2 pr-2" aria-hidden="true"></i></button>
    </form>

    <!-- <script>

      var socket = io(); var messages = document.getElementById('messages'); var
      closeBtn = document.getElementById('closeBtn'); var showComments =
      document.getElementById('showComments'); var form =
      document.getElementById('form'); var input =
      document.getElementById('input'); form.addEventListener("submit", function
      (e) { e.preventDefault(); if (input.value) { socket.emit("chat message",
      input.value); input.value = ""; messages.style.display = "inherit"; } });
      socket.on("chat message", function (msg) { var item =
      document.createElement("li"); item.textContent = msg;
      messages.appendChild(item); messages.scrollTo(0,
      document.body.scrollHeight); messages.style.display = "inherit"; });
      closeBtn.addEventListener("click", function(){ messages.style.display =
      "none"; }); showComments.addEventListener("click", function(){
      messages.style.display = "inherit"; });
    </script> -->
  </body>
  <script src="/js/app.js"></script>
</html>
