<div id="ball_placeholder"></div>
<div id="ball_holder">
  <!--placeholder for testing-->
  <a id="bingoCount" class="font-bold ball black">B 10</a>
  <a id="bingoCount" class="font-bold ball black">I 23</a>
  <a id="bingoCount" class="font-bold ball black">G 20</a>
  <a id="bingoCount" class="font-bold ball black">N 40</a>
  <a id="bingoCount" class="font-bold ball black">O 04</a>
  <a id="bingoCount" class="font-bold ball black">N 40</a>
  <a id="bingoCount" class="font-bold ball black">O 04</a>
  <a id="bingoCount" class="font-bold ball black">N 40</a>
  <a id="bingoCount" class="font-bold ball black">O 04</a>
</div>

<div class="grid" style="padding-top: 105px;">
    <div class="text-right mr-2 mt-2">
      <button id="generateCardBtn" class="third text-white text-2xl rounded-md font-bold pl-2 pr-2 pt-2 pb-2">Generate card</button>
      <button class="third text-white text-2xl rounded-md font-bold pl-2 pr-2 pt-2 pb-2"
      id="logoutBtn">Logout</button>
    </div>
</div>
  <p  class="mt-2 ml-2 text-black text-2xl font-bold text-center mt-3 mb-3">
    {{!-- Room ID: <span id="gameId">1234</span> --}}
    <div class="grid grid-cols-3">
      <div>
        <p class="text-black text-2xl font-bold text-right">Room ID:</p>
      </div>
      <div class="ml-1">
        <form id="joinRoomForm" action="">
          <input id="roomNumberInput" autocomplete="off" style="height:32px" />
        </form>
      </div>
      <div class="ml-1">
        <button class="btn" id="joinRoomBtn"><i class="fa fa-paper-plane pt-1 pb-1 pl-3 pr-3" aria-hidden="true"></i></button>
      </div>
    </div> 
    <div class="text-center mt-3">
      <h2 class="bg-fuchsia-500 rounded-md place-self-end text-white text-3xl font-extrabold fourth" style="width:300px;margin:auto;">
        Timer 
        <span id="timer">00:00</span>
      </h2>
    </div>
  </p>  

  <div id="bingo_cards">
    <div id="bingo_card" class="grid lg:grid-cols-3 mt-8"></div>
  </div>

  <div id="bingo_btn">
    BINGO!
  </div>

  <!-- js link -->
  {{!-- <script src="/js/app.js"></script> --}}
  <script src="/js/logout.js"></script>

  {{!-- socket.io link --}}
  {{!-- <script src="/socket.io/socket.io.js"></script> updating--}}



