
  


    <div
      class="bg-fuchsia-500 place-self-center  rounded-md items-center justify-center text-white text-2xl font-extrabold third">
      <div class="clear"></div>
      <div id="card4" class="card">
        <div class="headers">
          <div><span>B</span></div>
          <div><span>I</span></div>
          <div><span>N</span></div>
          <div><span>G</span></div>
          <div><span>O</span></div>
        </div>
        <!-- <div id="numberField1" class="numberField grid grid-cols-5 gap-2"></div> -->
        <div id="B11" class="column 1">
        </div>
        <div id="I12" class="column 2">
        </div>
        <div id="N13" class="column 3">
        </div>
        <div id="G14" class="column 4">
        </div>
        <div id="O15" class="column 5">
        </div>
      </div>
      <div class="temp"></div>
    </div>
    <div
      class="bg-fuchsia-500 place-self-center  rounded-md items-center justify-center text-white text-2xl font-extrabold third">
      <div class="clear"></div>
      <div id="card4" class="card">
        <div class="headers">
          <div><span>B</span></div>
          <div><span>I</span></div>
          <div><span>N</span></div>
          <div><span>G</span></div>
          <div><span>O</span></div>
        </div>
        <div id="B21" class="column 1">
        </div>
        <div id="I22" class="column 2">
        </div>
        <div id="N23" class="column 3">
        </div>
        <div id="G24" class="column 4">
        </div>
        <div id="O25" class="column 5">
        </div>
      </div>
      <div class="temp"></div>
    </div>
    <div
      class="bg-fuchsia-500 place-self-center  rounded-md items-center justify-center text-white text-2xl font-extrabold third">
      <div class="clear"></div>
      <div id="card4" class="card">
        <div class="headers">
          <div><span>B</span></div>
          <div><span>I</span></div>
          <div><span>N</span></div>
          <div><span>G</span></div>
          <div><span>O</span></div>
        </div>
        <div id="B31" class="column 1">
        </div>
        <div id="I32" class="column 2">
        </div>
        <div id="N33" class="column 3">
        </div>
        <div id="G34" class="column 4">
        </div>
        <div id="O35" class="column 5">
        </div>
      </div>
      <div class="temp"></div>
    </div>
    <div
      class="bg-fuchsia-500 place-self-center  rounded-md items-center justify-center text-white text-2xl font-extrabold third">
      <div class="clear"></div>
      <div id="card4" class="card">
        <div class="headers">
          <div><span>B</span></div>
          <div><span>I</span></div>
          <div><span>N</span></div>
          <div><span>G</span></div>
          <div><span>O</span></div>
        </div>
        <div id="B41" class="column 1">
        </div>
        <div id="I42" class="column 2">
        </div>
        <div id="N43" class="column 3">
        </div>
        <div id="G4" class="column 4">
        </div>
        <div id="O45" class="column 5">
        </div>
      </div>
      <div class="temp"></div>
    </div>
  </div>
  <button id="button" class="w-64 third text-white">B I N G O !</button>
  </div>
  <!-- js link -->
  <script src="../public/js/generateCard.js"></script>
  <script src="/js/logout.js"></script>

  {{!-- socket.io link --}}
  {{!-- <script src="/socket.io/socket.io.js"></script> --}}



