
  


    <div
      class="bg-fuchsia-500 place-self-center  rounded-md items-center justify-center text-white text-2xl font-extrabold third">
      <div class="clear"></div>
      <div id="card4" class="card">
        <div class="headers">
          <div><span>B</span></div>
          <div><span>I</span></div>
          <div><span>N</span></div>
          <div><span>G</span></div>
          <div><span>O</span></div>
        </div>
        <div id="numberField4"class="numberField"></div>
        <div class="column 1">
        </div>
        <div class="column 2">
        </div>
        <div class="column 3">
        </div>
        <div class="column 4">
        </div>
        <div class="column 5">
        </div>
      </div>
      <div class="temp"></div>
    </div>
    <div
      class="bg-fuchsia-500 place-self-center  rounded-md items-center justify-center text-white text-2xl font-extrabold third">
      <div class="clear"></div>
      <div id="card4" class="card">
        <div class="headers">
          <div><span>B</span></div>
          <div><span>I</span></div>
          <div><span>N</span></div>
          <div><span>G</span></div>
          <div><span>O</span></div>
        </div>
        <div id="numberField4"class="numberField"></div>
        <div class="column 1">
        </div>
        <div class="column 2">
        </div>
        <div class="column 3">
        </div>
        <div class="column 4">
        </div>
        <div class="column 5">
        </div>
      </div>
      <div class="temp"></div>
    </div>
    <div
      class="bg-fuchsia-500 place-self-center  rounded-md items-center justify-center text-white text-2xl font-extrabold third">
      <div class="clear"></div>
      <div id="card4" class="card">
        <div class="headers">
          <div><span>B</span></div>
          <div><span>I</span></div>
          <div><span>N</span></div>
          <div><span>G</span></div>
          <div><span>O</span></div>
        </div>
        <div id="numberField4"class="numberField"></div>
        <div class="column 1">
        </div>
        <div class="column 2">
        </div>
        <div class="column 3">
        </div>
        <div class="column 4">
        </div>
        <div class="column 5">
        </div>
      </div>
      <div class="temp"></div>
    </div>
    <div
      class="bg-fuchsia-500 place-self-center  rounded-md items-center justify-center text-white text-2xl font-extrabold third">
      <div class="clear"></div>
      <div id="card4" class="card">
        <div class="headers">
          <div><span>B</span></div>
          <div><span>I</span></div>
          <div><span>N</span></div>
          <div><span>G</span></div>
          <div><span>O</span></div>
        </div>
        <div id="numberField4"class="numberField"></div>
        <div class="column 1">
        </div>
        <div class="column 2">
        </div>
        <div class="column 3">
        </div>
        <div class="column 4">
        </div>
        <div class="column 5">
        </div>
      </div>
      <div class="temp"></div>
    </div>



