  <div class="flex justify-center font-sans text-8xl font-extrabold">
    BINGO
  </div>

  <div class="grid grid-cols-3 gap-4">
    <button
      class="bg-fuchsia-500 h-12 rounded-md flex items-center justify-center text-white text-2xl font-extrabold sec hover:bg-yellow-900">Login/Logout</button>
    <div
      class="bg-fuchsia-500  rounded-md  row-span-3 flex justify-center text-white text-2xl font-extrabold fourth">
      <form class='mr-8' id="signup">
        <h2>Sign Up</h2>
        <label for="newUsername">UserName</label><br>
        <input class="bg-gray-200 focus:bg-white text-black" type='text' id="newUsername" name='newUsername'><br>
        <label for="Crpswd">Create Password</label><br>
        <input class="bg-gray-200 focus:bg-white text-black" type="password" id="Crpswd" name="Crpswd"><br>
        <label for="repswd">ReType Password</label><br>
        <input class="bg-gray-200 focus:bg-white text-black" type="password" id="repswd" name="repswd"><br>
        <button type="submit" id="signup" class="mt-3 w-32 rounded-md third hover:bg-red-700 text-white"
          id="create-btn">Create</button>

      </form>
      <form class="mt-0" id="login">
        <h2>Login</h2>
        <label for="username">UserName</label><br>
        <input class="bg-gray-200 focus:bg-white text-black" type='text' id="usernmae" name='username'><br>
        <label for="pswd">Password</label><br>
        <input class="bg-gray-200 focus:bg-white text-black" type="password" id="pswd" name="pswd"><br>
        <button type="submit" id="login" class="mt-3 w-32 rounded-md third hover:bg-red-700 text-white"
          id="login">Login</button>

      </form>

    </div>
    <div class="flex-shrink"></div>
    <div class="flex justify-center font-sans text-8xl font-extrabold"></div>

    <div class="flex-shrink"></div>
    <div class="flex-shrink"></div>
    <div class="flex-shrink"></div>
    <div class="flex-shrink"></div>
    <button
      class="flex-grow bg-fuchsia-500 h-12 rounded-md flex items-center justify-center text-white text-2xl font-extrabold third hover:bg-red-700">Join
      Game</button>

    <div></div>
    <div></div>
    <button
      class="bg-fuchsia-500 h-12 rounded-md flex items-center justify-center text-white text-2xl font-extrabold third hover:bg-red-700">Start
      Game</button>

    <div></div>


  </div>

















</body>

</html>