
   
    <div class="flex justify-center font-sans text-8xl font-extrabold">
      BINGO
    </div>
    <div class="grid grid-cols-1 gap-4 lg:grid-cols-3 mt-8">
       

  <button class="bg-fuchsia-500 h-12 rounded-md flex items-center justify-center text-white text-2xl font-extrabold lg:w-2/3 lg:place-self-center sec" id="logoutBtn">Logout</button>
    <div class="hidden lg:block"></div>
  <div class="hidden lg:block "></div>
  <div class="hidden lg:block "></div>
  <div class="bg-fuchsia-500 justify-center rounded-md block text-white text-2xl font-extrabold fourth lg:flex">
  <form>
     <label for="lobbyid">Enter Lobby ID</label><br>
      <input class="bg-gray-200 focus:bg-white text-black" type="text" id="lobbyid" name="lobbyid"><br>
      <button class="bg-fuchsia-500 h-12 w-full rounded-md flex items-center justify-center text-white text-2xl font-extrabold third hover:bg-red-700">Join Game</button>
  </form>
  </div>
  <div class="hidden lg:block "></div>
  <div class="hidden lg:block "></div>
  <button class="bg-fuchsia-500 h-12 rounded-md flex items-center justify-center text-white text-2xl font-extrabold third hover:bg-red-700" id="startGameBtn">Start
    Game</button>
  <div class="hidden lg:block "></div>
  <div class="hidden lg:block "></div>
  <div class="hidden lg:block "></div>
  <div class="hidden lg:block "></div>
  <div class="hidden lg:block "></div>
    </div>
<script src="/js/logout.js"></script>
<script src="/js/app.js"></script>

