  <div class="grid grid-cols-1 gap-4 lg:grid-cols-3 mt-8">
    <button
      class="bg-fuchsia-500 h-12 rounded-md flex items-center justify-center text-white text-2xl font-extrabold sec" id="logoutBtn">Logout</button>
      <div class="hidden lg:block"></div>
    <div class="hidden lg:block "></div>
    <div class="hidden lg:block "></div>
    <button
      class="flex-grow bg-fuchsia-500 h-12 rounded-md flex items-center justify-center text-white text-2xl font-extrabold third hover:bg-red-700">Join
      Game</button>
    <div class="hidden lg:block "></div>
    <div class="hidden lg:block "></div>
    <button
      class="bg-fuchsia-500 h-12 rounded-md flex items-center justify-center text-white text-2xl font-extrabold third hover:bg-red-700">Start
      Game</button>
    <div class="hidden lg:block "></div>
    <div class="hidden lg:block "></div>
    <div class="hidden lg:block "></div>
    <div class="hidden lg:block "></div>
    <div class="hidden lg:block "></div>
  </div>

 
  <script src="/js/logout.js"></script>
  
