<div class="flex justify-center font-sans text-8xl font-extrabold">
  BINGO
</div>
<div class=" mt-8">
  <div
    class="bg-fuchsia-500 justify-center block text-white text-2xl font-extrabold fourth pt-5 pl-5 pr-5 pb-5" style="max-width: 720px; text-align:center;border-radius:4px;margin:auto;"
  >
    <label for="lobbyid">Enter Lobby ID</label><br />
    <input
      class="bg-gray-200 focus:bg-white text-black"
      type="text"
      id="lobbyid"
      name="lobbyid"
    /><br />
    <button
      class="bg-fuchsia-500 h-12 w-full rounded-md flex items-center justify-center text-white text-2xl font-extrabold third hover:bg-red-700 mt-2"
      id="joinGame"
    >Join Game</button>
    <button
      class="bg-fuchsia-500 h-12 w-full rounded-md flex items-center justify-center text-white text-2xl font-extrabold third hover:bg-red-700 mt-2"
      id="startGameBtn"
    >Start Game</button>
    <button
      class="bg-fuchsia-500 h-12 w-full rounded-md flex items-center justify-center text-white text-2xl font-extrabold third hover:bg-red-700 mt-2"
      id="logoutBtn"
    >Logout</button>
  </div>
</div>
<script src="/js/logout.js"></script>
<script src="/js/create-room.js"></script>