   <body>
    <div class="flex justify-center font-sans text-8xl font-extrabold">
      BINGO
    </div>
  <div class="grid grid-cols-1 gap-4 md:grid-cols-3 mt-8">

    <div class="hidden md:block "></div>
    <div
      class="bg-fuchsia-500 rounded-md row-span-3 block text-white text-2xl font-extrabold fourth flex-grow-0">
      <form class='border p-2 mx-2 mt-2 flex-col' id="signUp">
        <h2>Sign Up</h2>
        <label for="newUsername">UserName</label><br>
        <input class="bg-gray-200 focus:bg-white text-black" type='text' id="newUsername" name='newUsername'><br>
        <label for="Crpswd">Create Password</label><br>
        <input class="bg-gray-200 focus:bg-white text-black" type="password" id="Crpswd" name="Crpswd"><br>
        {{!-- <label for="repswd">Re-Type Password</label><br>
        <input class="bg-gray-200 focus:bg-white text-black" type="password" id="repswd" name="repswd"><br> --}}
        <button type="submit" id="signupBtn" class="mt-3 w-32 rounded-md third hover:bg-red-700 text-white">Create</button>

      </form>
      <form class="border p-2 mx-2 mt-2 flex-col">
        <h2>Login</h2>
        <label for="username">UserName</label><br>
        <input class="bg-gray-200 focus:bg-white text-black" type='text' id="username" name='username'><br>
        <label for="pswd">Password</label><br>
        <input class="bg-gray-200 focus:bg-white text-black" type="password" id="pswd" name="pswd"><br>
        <button type="submit" class="mt-3 w-32 rounded-md third hover:bg-red-700 text-white"
          id="loginBtn">Login</button>

      </form>

    </div>
    <div class="hidden md:block "></div>
    <div class="hidden md:block "></div>
    <div class="hidden md:block "></div>
    <div class="hidden md:block "></div>
    <div class="hidden md:block "></div>
    <div class="hidden md:block "></div>
    <div class="hidden md:block "></div>

    <div class="hidden md:block "></div>
    <div class="hidden md:block "></div>
    <div class="hidden md:block "></div>

    <div class="hidden md:block "></div>

  </div>

<script src="/js/login.js"></script>


