:root {
  --main: #f4d8cd;
  --sec: #3a2e39;
  --third: #f15152;
  --fourth: #1e555c;
}

/* card styling */
body{
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='480' height='600' preserveAspectRatio='none' viewBox='0 0 480 600'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1074%26quot%3b)' fill='none'%3e%3crect width='480' height='600' x='0' y='0' fill='url(%23SvgjsLinearGradient1075)'%3e%3c/rect%3e%3cpath d='M427.5864642781877 531.800493708657L384.50794781383377 574.8790101730109 470.6649807425416 617.9575266373648z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M468.14%2c773.035C510.106%2c773.907%2c543.438%2c739.963%2c561.941%2c702.286C578.305%2c668.964%2c571.703%2c631.196%2c553.757%2c598.699C535.058%2c564.837%2c506.808%2c533.459%2c468.14%2c532.424C428.045%2c531.351%2c392.854%2c558.386%2c374.197%2c593.891C356.774%2c627.048%2c363.464%2c665.349%2c380.859%2c698.521C399.9%2c734.831%2c427.149%2c772.183%2c468.14%2c773.035' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M297.64186573606514 124.61836545135267L194.8777019924633 119.2327238396717 292.2562241243842 227.38252919495451z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M381.1136861566117 336.50619292816583L261.42711491728096 330.233685519511 374.8411787479569 456.19276416749653z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M97.23127981487812 273.8421867531985L91.0238291558413 361.4134559429767 160.57673560894216 328.9804030169575z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M298.568%2c607.697C340.281%2c611.128%2c387.602%2c608.925%2c410.791%2c574.082C435.797%2c536.507%2c428.701%2c486.248%2c404.927%2c447.882C382.402%2c411.532%2c341.285%2c391.004%2c298.568%2c392.979C258.982%2c394.809%2c226.004%2c421.696%2c207.98%2c456.988C191.546%2c489.167%2c195.716%2c526.956%2c214.33%2c557.924C232.338%2c587.884%2c263.73%2c604.832%2c298.568%2c607.697' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1074'%3e%3crect width='480' height='600' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='100%25' y1='50%25' x2='0%25' y2='50%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1075'%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='0.82'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}

.play {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.clear {
  width: 100%;
  clear: both;
}

.card {
  float: left;
  width: 40vw;
  height: auto;
  /* background-color: #446444; */
  background-color: var(--third);
  border-radius: 10px;
  padding: 10px;
}

.play button {
  float: left;
  font-size: 2rem;
  margin: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  outline-color: var(--third);
}

.headers > div {
  float: left;
  width: 20%;
  text-align: center;
}

.headers div span {
  font-size: 42px;
  color: #fff;
  font-weight: bold;
}

.column {
  float: left;
  width: 20%;
  text-align: center;
}

.number {
  padding: 20px 0;
  width: 100%;
  border: 1px solid #000;
  background-color: #fff;
}

.number span {
  color: rgb(39, 15, 1);
  font-size: 32px;
}

.number span:hover {
  text-shadow: 0 0 10px rgba(39, 15, 1, 0.5);
}

.dobbed {
  color: red;
}

.dobbed span {
  color: white !important;
}

.number span {
  cursor: pointer;
}

.numberField {
  display: flex;
}

.bingo {
  float: left;
  width: 200px;
  height: auto;
  font-weight: bolder;
  color: #fff;
  font-family: monospace;
  background-color: #446444;
  background-color: var(--third);
  border-radius: 10px;
  padding: 10px;
}
/* card styling ends */
.main {
  background-color: var(--main);
}
.sec {
  background-color: var(--sec);
}
.third {
  background-color: var(--third);
}
.fourth {
  background-color: var(--fourth);
}

@media only screen and (max-width: 1024px) {
  .card {
    width: 100vw;
  }
}

@media only screen and (max-width: 768px) {
  .card {
    width: 90vw;
  }
}

@media only screen and (max-width: 1930px) {
  #form {
    display: flex;
  }
}

input {
  width: 100%;
  padding: 0px 10px;
}

#logoutBtn {
  background-color: brown;
}
#bingo_card {
  min-width: 320px;
  margin: 15px auto;
}
#bingo_cards{opacity: 0;}

.btn {background-color: #2942af; color: white; padding:5px 15px; border-radius: 4px;}

.ball {
  border: 1px solid;
  border-radius: 100%;
  margin-bottom: 15px;
  margin-right: 5px;
  padding: 5px;
}

.number {
  padding: 10px 0px;
}
.number span {
  font-size: 1.5em;
}

.red {
  color: white;
  background-color: red;
}
.orange {
  color: white;
  background-color: orange;
}
.blue {
  color: white;
  background-color: #6868fe;
}
.green {
  color: white;
  background-color: #1ecd1e;
}
.purple {
  color: white;
  background-color: d31fd3;
}
.black {
  color: white;
  background-color:rgb(41, 66, 175);
  padding: 12px 12px;
}
 
.bingo_btn {
  background-color: coral; color:white; width:100%; padding:15px;
}

#bingoCount{
  margin:15px 10px 15px 5px;line-height:2.3;
}

body {
  margin: 0;
  padding-bottom: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
}
#form {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 3rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}
#input {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}
#input:focus {
  outline: none;
}
#form > button {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}
#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.15);
  height: 200px;
  overflow-y: scroll;
  position: fixed;
  bottom: 48px;
  width: 100%;
  display: none;
}
#messages > li {
  padding: 0.5rem 1rem;
  color: white;
}
#messages::-webkit-scrollbar {
  width: 0px;
}
#showComments {
  font-size: 1.5em;
  margin-top: 6px;
}
form {
  margin: 0px;
}
.fixed-right {
  position: fixed;
  right: 0px;
}

#ball_holder{
  width: 100%;
  position: fixed;
  height: 90px;
  background-color: transparent;
  overflow: auto;
  white-space: nowrap;
  display: none;
}

#ball_placeholder{
  width: 100%;
  position: fixed;
  height: 90px;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
  white-space: nowrap;
}

#bingo_btn{
  position: fixed; bottom:75px; width:75px; height:75px; border-radius:100%; background-color:#2942af;color:white;right:15px;justify-content:center;align-items:center;font-weight:bolder;cursor:pointer;display: none;
  border: 3px dashed white;}
